<header class="header-container">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid nav-container">
      <a href="{{ '/' | url }}" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="assets/logo/baghaven_film_logo.jpg" alt="Baghaven Film logo" id="logo" />
      </a>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        {% include "navigation.njk" %}
      </div>
    </div>
  </nav>
</header>
