<div class="container-fluid d-flex flex-column" id="kontakt">
  <div class="row">
    <h5>
      <a href="mailto:baghavenfilm@mail.com" class="kontakt-link">Baghavenfilm@mail.com </a>
      <br /><br />
      Jakob: +45 54637281<br />
      Emil: +45 18273645 <br /><br />
      Instagram: <a href="https://baghaven.netlify.app/" class="kontakt-link" target="_blank">@Baghavenfilm</a>
    </h5>
  </div
</div>
