<div class="row nav-scroll">
  <div class="col ">
    <ul class="nav-ul">
      <li class="nav-item">
        <a href="#spacer0" class="nav-link-2 link-padding">Arbejde</a>
      </li>
      <li class="nav-item">
        <a href="#om_os" class="nav-link-2 link-padding">Om os</a>
      </li class="nav-item">
      <li class="nav-item">
      <a href="#kontakt" class="nav-link-2"> Kontakt</a>
      </li>
    </ul>
  </div>
</div>
