<div class="col-md-6 mb-4">
  <h2 class="card-title">Trailer for ‘Skjold & Isabel’</h2>
  <div class="h-100 text-white bg-dark">
    <img src="assets/images/trailer.png" class="img-fluid" id="card-img" alt="Baghaven Film logo" />
  </div>
</div>
