<div class="col-md-6 card">
  <div class="text-white bg-dark">
    <div class="iframe js-player plyr__video-embed" id="{{ vimeo_id }}">
      <iframe
        src="https://player.vimeo.com/video/111670827?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen
        allowtransparency
        allow="autoplay"
      ></iframe>
    </div>
    <h2 class="card-title">{{ title }} for {{ kunde }}</h2>
  </div>
</div>
