<div class="container-fluid  h-100 d-flex flex-column" id="om_os">
  <div class="col-md-8">
    <div class="row">
      <h3>
            { baghaven_film }
      </h3>
    </div>

    <div class="card-container overflow-hidden mt-4">
      <div class="row gx-4">
        <div class="col-md-6 mb-4">
          <div class="h-100 text-white bg-dark">
            <img src="assets/images/jakob.png" class="img-fluid" id="card-img" alt="Baghaven Film logo" />
            <h4 class="card-title">
              { jakob }
            </h4>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="h-100 text-white bg-dark">
            <img src="assets/images/emil.png" class="img-fluid" id="card-img" alt="Baghaven Film logo" />
            <h4 class="card-title">
              { emil }
            </h4>
          </div>
        </div>
        {% include "trailers.njk" %} {% include "trailers.njk" %}
        </div>
      </div>
    </div>

  </div>
</div>
